{% extends 'RedroBundle::layout.html.twig' %}

{% block mainContent %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
            <a class="btn btn-sm btn-info pull-right" href="{{ path('wallpaper_index') }}"><i
                        class="fa fa-arrow-left"></i>Powrót do listy</a>
        </div>
        <div class="box-body">
            <div class="pull-right">{{ form(delete_form) }}</div>
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            {{ form_end(edit_form) }}

        </div>
    </div>
    <script>

    </script>
{% endblock %}
