{% extends 'RedroBundle::layout.html.twig' %}

{% block mainContent %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Lista tapet</h3>
        <a class="btn btn-sm btn-info pull-right" href="{{ path('wallpaper_new') }}"><i class="fa fa-plus"></i> Dodaj nową</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kolor</th>
                <th>Dostępność</th>
                <th>Typ</th>
                <th>Aktywna</th>
                <th>Opis</th>
                <th>Cena podstawowa</th>
                <th>Cena od ilości sztuk</th>
                <th>Ilość edycji</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for wallpaper in wallpapers %}
            <tr>
                <td><a href="{{ path('wallpaper_show', { 'id': wallpaper.id }) }}">{{ wallpaper.name }}</a></td>
                <td>{{ wallpaper.color }}</td>
                <td>{{ wallpaper.availability }}</td>
                <td>{{ wallpaper.type }}</td>
                <td>{% if wallpaper.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{{ wallpaper.description }}</td>
                <td>{{ wallpaper.basePrice }}</td>
                <td>{{ wallpaper.priceByAvailability }}</td>
                <td>{{ wallpaper.updates }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('wallpaper_show', { 'id': wallpaper.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('wallpaper_edit', { 'id': wallpaper.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
    <!-- /.box-body -->


{% endblock %}
