{% extends 'RedroBundle::layout.html.twig' %}

{% block mainContent %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
            <a class="btn btn-sm btn-info pull-right" href="{{ path('wallpaper_index') }}"><i
                        class="fa fa-arrow-left"></i>Powrót do listy</a>

            <h3 class="box-title">Data Table With Full Features</h3>
            <a class="btn btn-sm btn-info pull-right"
               href="{{ path('wallpaper_edit', { 'id': wallpaper.id }) }}">Edycja</a>
        </div>

        <h1>Wallpaper</h1>

        <div class="box-body">

            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ wallpaper.id }}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{{ wallpaper.color }}</td>
                </tr>
                <tr>
                    <th>Availability</th>
                    <td>{{ wallpaper.availability }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ wallpaper.type }}</td>
                </tr>
                <tr>
                    <th>Isactive</th>
                    <td>{% if wallpaper.isActive %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ wallpaper.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ wallpaper.description }}</td>
                </tr>
                <tr>
                    <th>Baseprice</th>
                    <td>{{ wallpaper.basePrice }}</td>
                </tr>
                <tr>
                    <th>Pricebyavailability</th>
                    <td>{{ wallpaper.priceByAvailability }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}

    </div>

{% endblock %}
