{% extends "::base.html.twig" %}

{% block title %}Admin Panel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {% stylesheets '@RedroBundle/Resources/public/css/bootstrap.min.css'
    '@RedroBundle/Resources/public/css/dataTables.bootstrap.css'
    '@RedroBundle/Resources/public/css/AdminLTE.min.css'
    '@RedroBundle/Resources/public/css/skin-black.min.css'
     %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!--[if lt IE 9]-->
    <!--<script src="bundles/fachowoadmin/js/ie/respond.min.js"></script>-->
    <!--<script src="bundles/fachowoadmin/js/ie/html5.js"></script>-->
    <!--<script src="bundles/fachowoadmin/js/ie/fix.js"></script>-->
    <!--[endif]-->
{% endblock %}

{% block body %}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% block header %}
            <header class="main-header">

                <!-- Logo -->
                <a href="index2.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>LT</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Admin</b>LTE</span>
                </a>

                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">

                    </div>
                    <div class="navbar-custom-menu">

                    </div>
                    {#{% block rightMenu %}#}
                    {#{% include 'MattAdminBundle:Includes:_rightMenu.html.twig' %}#}
                    {#{% endblock %}#}

                </nav>
            </header>
        {% endblock %}
        {% block aside %}
            {#{% include 'MattAdminBundle:Includes:_aside.html.twig' %}#}
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">NAWIGACJA</li>
                        <li class="treeview">
                            <a href="{{ path('wallpaper_index') }}">
                                <i class="fa fa-picture-o"></i> <span>Lista tapet</span> <i
                                        class="fa fa-angle-left pull-right"></i>
                            </a>
                            {#<ul class="treeview-menu">#}
                            {#<li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>#}
                            {#<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>#}
                            {#</ul>#}
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        {% endblock %}

        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            {% block mainContent %}
                                {#{% include 'MattAdminBundle:Includes:_mainContent.html.twig' %}#}
                            {% endblock %}
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

        {% block content %}{% endblock %}
    </div>
    <!-- ./wrapper -->
    </body>
{% endblock %}
{% block javascripts %}
    {% javascripts '@RedroBundle/Resources/public/js/jquery-2.1.4.min.js'
    '@RedroBundle/Resources/public/js/bootstrap.min.js'
    '@RedroBundle/Resources/public/js/jquery.dataTables.min.js'
    '@RedroBundle/Resources/public/js/dataTables.bootstrap.min.js'
    '@RedroBundle/Resources/public/js/jquery.slimscroll.min.js'
    '@RedroBundle/Resources/public/js/fastclick.min.js'
    '@RedroBundle/Resources/public/js/app.min.js'
    '@RedroBundle/Resources/public/js/demo.js'
    '@RedroBundle/Resources/public/js/main.js'
    '@RedroBundle/Resources/public/js/jquery.sortable.js'

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}